/* ==========================================================================
   3. Grid cell placement
   ========================================================================== */

.example-03 {
    .c-wrapper-box {
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        grid-template-rows: 4;
        grid-gap: 20px;
        grid-auto-rows: 100px;
        .c-box:nth-child(odd) {
            //test
        }
        .c-box--five {
            grid-row: 1 / 3;
        }
        .c-box--six {
            grid-row: 2 / 5;
            grid-column-start: 3;
        }
        .c-box--eight {
            grid-column: span 2;
        }
    }
}
