/* ==========================================================================
   5. Grid Template Areas
   ========================================================================== */

.example-05 {
    .c-wrapper-box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;

        grid-template-areas: 'header header header header'
                             'aside article article article'
                             'aside form form contact-section'
                             'footer footer footer footer'
                              '. copyright copyright .';

        .l-header {
            grid-area: header;
        }

        .l-article {
            grid-area: article;
        }

        .l-form {
            grid-area: form;
        }

        .l-contact-section {
            grid-area: contact-section;
        }

        .l-aside {
            grid-area: aside;
        }

        .l-footer {
            grid-area: footer;
        }

        .l-copyright {
            grid-area: copyright;
        }
    }

    @include media('<=phone') {
        .c-wrapper-box {
            grid-template-columns: 1fr;
            grid-template-areas: 'header'
                             'aside'
                             'article'
                             'form'
                             'contact-section'
                             'footer'
                             'copyright';
        }
    }
}
