/* ==========================================================================
   6. Align and justify
   ========================================================================== */

.example-06 {
    .c-wrapper-box {
        display: grid;

        height: 80vh;

        grid-template-columns: 150px 150px 150px;
        grid-auto-rows: 100px;
        grid-gap: 20px;

        // Add code here

        .c-box {
            // Add code here
        }

        .c-box--one {
            grid-column: 1 / 3;
            grid-row: 1 / 3;
        }
        .c-box--two {
            grid-column: 3;
            grid-row: 1;
        }
        .c-box--four {
            background-color: $color-brand-5;

            grid-column: 1;
            grid-row: 2 / 4;
        }
    }
}
