/* ==========================================================================
   Box
   ========================================================================== */

.c-box {
    padding: 30px;

    font-size: 18px;
    font-weight: 500;

    border-radius: 20px;
    background: $color-brand-2;
}
