/* ==========================================================================
   Info box
   ========================================================================== */

.c-info-box {
    @include helper--box-shadow;

    position: relative;
    z-index: 1;

    display: block;

    height: 100%;
    padding: 15px;

    background: $color-white;
}

.c-info-box:hover {
    @include helper--box-shadow--on-hover;
}

.c-info-box__overlay {
    @include helper--transition;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;
    background-color: rgba(0,0, 0, .3);
}

.c-info-box:hover .c-info-box__overlay {
    opacity: 1;
}

.c-info-box__desc {
    @include helper--transition;

    position: relative;
    z-index: 1;
}

.c-info-box:hover .c-info-box__desc {
    color: $color-white;
}


// Medium
.c-info-box--medium {
    min-height: 145px;

    background: $color-white;
}


.c-info-box--medium .c-info-box__desc {
    font-size: 18px;
    font-weight: 500;
}


// Square
.c-info-box--square .c-info-box__desc {
    @include helper--transition;

    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;

    opacity: 0;
}

.c-info-box--square:hover .c-info-box__desc {
    opacity: 1;
}

// Wide
.c-info-box--wide {
    min-height: 128px;
}


.c-info-box--wide .c-info-box__desc {
    font-size: 18px;
    font-weight: 500;
}


// Large
.c-info-box--large .c-info-box__desc {
    font-size: 39px;

    opacity: 1;
    color: $color-brand-1;
}

// Tiny
.c-info-box--tiny,
.c-info-box--tiny:hover {
    box-shadow: none;
}

.c-info-box--tiny {
    padding: 10px;
}



.c-info-box--tiny .c-info-box__desc {
    padding: 0 17px 14px 17px;
}

// Horizontal
.c-info-box--horizontal .c-info-box__desc {
    padding: 0;
}

@include media('<=phone') {
    .c-info-box--wide {
        min-height: auto;
    }
    .c-info-box--medium {
        padding-right: 15px;
    }
    .c-info-box--square .c-info-box__desc,
    .c-info-box--wide .c-info-box__desc,
    .c-info-box--medium .c-info-box__desc {
        font-size: 14px;
    }
    .c-info-box--square .c-info-box__desc {
        opacity: 1;
    }
    .c-info-box--large .c-info-box__desc {
        font-size: 21px;
    }
    .c-info-box--square .c-info-box__media {
        grid-row: 2;
    }
}
