/* ==========================================================================
   Points box
   ========================================================================== */

.c-points-box__desc {
    z-index: 1;

    font-size: 26px;
    font-weight: 500;
    line-height: 1.19;
}

.c-points-box__decor {
    background-color: $color-brand-3;
}

@include media('<=tablet') {
}
