/* ==========================================================================
   Points
   ========================================================================== */

.c-points {
    position: relative;
    z-index: 1;

    font-weight: 700;

    color: $color-brand-5;
}

// Small
.c-points--small {
    font-size: 24px;
}
.c-points--small .c-points__label {
    font-size: 10px;
}

// Big
.c-points--big {
    font-size: 53px;
}

// Large
.c-points--large {
    display: flex;
    flex-direction: column;

    padding-bottom: 12px;

    font-size: 120px;
    font-weight: 500;
    line-height: .75;

    color: $color-white;

    align-items: flex-end;
}

.c-points--large .c-points__label {
    display: block;

    font-size: 60px;
}

@include media('<=tablet') {
    .c-intro__header {
        font-size: 22px;
    }
    .c-points-box__desc {
        font-size: 22px;
    }
    .c-points--big {
        font-size: 36px;
    }
    .c-points--large {
        font-size: 100px;
    }
    .c-points--large .c-points__label {
        font-size: 50px;
    }
}

@include media('<=phone') {
    .c-points--big {
        font-size: 30px;
    }
}
