/* ==========================================================================
   Points box
   ========================================================================== */

.c-points-box {
    display: grid;

    grid-template-rows: 32px 228px;
    grid-template-columns: 1fr 130px 20px;
}

.c-points-box__desc {
    z-index: 1;

    font-size: 26px;
    font-weight: 500;
    line-height: 1.19;

    grid-column: 1 / 3;
    grid-row: 1 / 4;
}

.c-points-box__decor {
    background-color: $color-brand-3;

    grid-row: 2 / 4;
    grid-column: 2 / 4;
}

.c-points-box__quantity {
    grid-row: 2 / 4;
    align-self: end;
    grid-column: 1 / 3;
}
