/* ==========================================================================
   Sponsors list
   ========================================================================== */

.c-sponsors-list {
    @include helper--list;

    display: grid;

    grid-template-columns: repeat(4, 1fr);
}

.c-sponsors-list__item {
    align-self: center;
    justify-self: center;
}
