/* ==========================================================================
   Tabs
   ========================================================================== */

.c-tabs [class*='t-heading'] {
    margin-bottom: 35px;
}

.c-tabs p {
    font-size: 14px;
    font-weight: 500;
    line-height: 2.14;
}

.c-tabs__sidebar {
    padding: 67px 0;

    background-color: $color-gray;
}

.c-tabs__content {
    position: relative;

    padding: 67px 0 67px 103px;

    background-color: $color-gray-2;
}

.c-tabs__content:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;

    display: block;

    width: 100vw;
    height: 100%;

    content: '';

    background: inherit;
}

@include media('<=tablet') {
    .c-tabs__sidebar {
        padding: 30px 0;
    }
    .c-tabs__content {
        padding: 30px 0 30px 30px;
    }
}

@include media('<=phone') {
    .c-tabs__content {
        padding-left: 0;
    }
    .c-tabs__content:before {
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;

        display: block;

        width: 100vw;
        height: 100%;

        content: '';

        background: inherit;
    }
}
