/* ==========================================================================
   Total points
   ========================================================================== */

.c-total-points__label {
    z-index: 1;

    font-size: 18px;
}

.c-total-points__number {
    z-index: 1;

    font-size: 48px;
    font-weight: 500;
}

.c-total-points__decor {
    display: block;

    background-color: $color-gray;
}

.c-total-points__icon .o-icon {
    @include helper--transition;
}

.c-total-points__icon:hover .o-icon {
    transform: translateX(5px);
}

@include media('<=phone') {
    .c-total-points__number {
        font-size: 36px;
    }
    .c-total-points__label {
        font-size: 16px;
    }
}
