/* ==========================================================================
   Vertical list
   ========================================================================== */

.c-vertical-list {
    @include helper--list;
}

.c-vertical-list__item:not(:last-child) {
    margin-bottom: 25px;
}
