/* ==========================================================================
   Icons
   ========================================================================== */

.o-icon {
    display: inline-flex;

    width: 1em;
    height: 1em;

    flex-shrink: 0;
    svg {
        fill: currentColor;
    }
}

.o-icon--arrow {
    width: 1.37em;

    font-size: 27px;
}

.o-icon--arrow-down {
    width: 2.1em;

    font-size: 10px;
}

.o-icon--arrow-forward-right {
    width: 1.36em;

    font-size: 19px;
}

.c-icon-wrapper {
    @include helper--transition;

    display: flex;

    line-height: 1;
}

@include media('<=phone') {
    .o-icon--arrow-forward-right {
        font-size: 16px;
    }
}
